/* #region general */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    min-width: 411px;
    margin: 0 auto;
    padding: 0 26px;
}

section,
footer {
    padding: 50px 0;
}

body {
    font-family: "Poppins";
    color: #22343d;
}

/* #endregion */

/* #region header */
/* 
.header-container {
    display: flex;
    height: 80px;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    margin-right: 16px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list-item {}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    transition: color 250ms ease;
}

.nav-link:hover,
.nav-link:focus {
    color: #02897a;
}

.current {
    font-weight: 600;
}

.nav-btn-list {
    display: flex;
    gap: 21px;
    margin-left: 73px;
}

.nav-btn-list-item {}

.nav-btn-in {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    background-color: transparent;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    transition: border 250ms ease, color 250ms ease;
}

.nav-btn-in:hover,
.nav-btn-in:focus {
    border: 1px solid #016565;
    color: #016565;
}

.nav-btn-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #02897a;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    transition: background-color 250ms ease;
}

.nav-btn-up:hover,
.nav-btn-up:focus {
    background-color: #016565;
} */

/* #endregion header*/

/* #region clients */
.clients {
    padding: 50px 0 78px 0;
}

.clients-container {
    text-align: center;
    margin: 0 auto;

}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    color: #22343d;
    margin-bottom: 40px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2);
    justify-content: space-between;
    row-gap: 55px;

}

/* @media screen (min-width:768px) {
    .clients-title {
        font-weight: 700;
        font-size: 36px;
        color: #22343d;
        margin-bottom: 42px;
    }

} */




.clients-list-item {}

.clients-logo {}

/* #endregion */

/* #region benefits */
.benefits {
    padding: 0;
}

.benefits-container {
    background-color: #f5f5f5;
    padding: 24px 30px 61px 30px;

}

.container {}

.benefits-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    text-align: center;
}

.benefits-list {

    text-align: center;
}

.benefits-list-item {

    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 33px 37px;
}

.benefits-list-item:not(:last-child) {
    margin-bottom: 32px;
}

.ben-icon-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.benefits-list-item:nth-child(1) .ben-icon-cont {
    background-color: #02897a;
}

.benefits-list-item:nth-child(2) .ben-icon-cont {
    background-color: #4d8dff;
}

.benefits-list-item:nth-child(3) .ben-icon-cont {
    background-color: #f03e3d;
}

.benefits-icons {
    fill: #fff;
}

.benefits-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
    letter-spacing: 0em;
    color: #22343d;
    margin-bottom: 16px;
}

.benefits-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.68;
    letter-spacing: 0.01em;
    color: #22343d;
}

/* #endregion */

/* #region how */
.how {
    padding: 96px 0 70px 0;
}

.how-container {}

.container {}

.how-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 78px;
}

.how-list {
    margin: 0 auto;
}

.how-list-item {}

.how-list-item-title {
    font-weight: 600;
    font-size: 24px;
    text-align: start;
    color: #22343d;
}

.how-step-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 68px;
}

.step-span {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
    color: #22343d;
}

.how-list-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
}

.how-list-item:not(:last-child) {
    margin-bottom: 69px;
}


/* #endregion */

/* #region join */
.join {}

.join-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 66px;
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
    padding: 32px 30px;
}

.container {}

.join-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 19px;
}

.join-list {}

.join-list-item {
    text-align: center;
}

.join-icon-bussines,
.join-icon-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffefef;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.join-icon-enter {
    background-color: #f2f6ff;
}


.join-item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: #000;
    margin-bottom: 16px;
    margin-top: 35px;
}

.join-item-features {}

.join-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #22343d;
}

.join-item-acent {
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #000;
    margin-top: 12px;
}

.join-list {}


/* #endregion */

/* #region boost */
.boost-baccol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #02897a;

    margin: 0 auto;
    padding: 32px 16px;
}

.container {}

.boost-title {
    width: 328px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151%;
    text-align: center;
    color: #fff;
    margin: 0 auto 58px auto;

}

.boost-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    margin: 0 auto 32px auto;

}

.boost {}

/* #endregion */

/* #region footer */
.footer-container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}

.main-logo {}

.logo-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    /* margin-top: 18px; */
    margin-top: 25px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edfffc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms ease;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #02897a;
}

.footer-social-link:hover .footer-social-list-icons,
.footer-social-link:focus .footer-social-list-icons {
    stroke: #edfffc;
}

.footer-social-list-icons {
    fill: none;
    stroke: #02897a;
    transition: stroke 250ms ease;
}


.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-resource {
    width: 118px;
}

.footer-res-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.footer-res-list {}

.footer-stuff,
.footer-resource {
    text-align: center;
}

.footer-res-desc:hover,
.footer-res-desc:focus {
    color: #02897a;
}


.footer-stuff {
    width: 131px;
}

.footer-stuff-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.footer-stuff-list {}

.footer-stuff-item {}

.footer-stuff-desc,
.footer-res-desc {
    position: relative;
    font-size: 16px;
    line-height: 2.1875;
    color: inherit;
    transition: color 250ms ease;
}

.footer-stuff-desc::after,
.footer-res-desc::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #02897a;
    transition: width 250ms ease;
}

.footer-stuff-desc:hover::after,
.footer-res-desc:hover::after {
    width: 100%;
}

.footer-deal {
    width: 325px;
}

.footer-deal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}

.footer-form {}

.footer-input::placeholder {
    color: #02897a;
}

.footer-input {

    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    padding: 10px 42px;
}



.footer-form-label {
    position: relative;
}

.footer-input-icon {
    position: absolute;
    top: 0;
    left: 13px;
    fill: #02897a;

}

.deal-btn {
    display: block;
    border-radius: 4px;
    min-width: 131px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #02897a;
    transition: background-color 250ms,
        color 250ms,
        transform 250ms;
    margin: 25px auto 0 auto;
}

.deal-btn:hover,
.deal-btn:focus {
    background-color: #016565;
    transform: scale(1.02);
}


/* #endregion */